form {
  padding: 0px 15% 0px 15%;
  width: 100%;
}

input, textarea {
  padding-left: 5px;
  width: 100%;
  border: none;
  border-left: 1px solid #305969;
}

textarea {
  resize: none;
}

input:focus, textarea:focus {
  outline: none;
  border-left: 2px solid #305969;
}

#submit {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 18px;
  color: #305969;
}