#news {
  padding: 5px 14% 5px 14%;
}

#news-scroll {
  padding: 0px 1% 0px 1%;
}

.news_header {
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 1px;
  color: "black";
  font-size:24px;
}

.news_sub {
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 1px;
  color: "black";
  font-size:16px;
}

.slick-dots {
  color: black;
  width: 98%;
}

.slick-prev::before, .slick-next::before {
  color: black;
}