.description {
  padding-top: 5%;
}

#middle p {
  color: white;
}

#intro {
  display: none;
}

.left {
  border-left: 1px solid #FFFFFF;
}

.ol-popup {
  position: absolute;
  width: 120px;
  height: 120px;
  border: none;
  border-radius: 60px;
  background-color: rgba(32, 62, 76, 0.3);;
  left: -60px;
  top: -60px;
}

.button {
  border: none;
  background: transparent;
  color: white;
  font-size: 20px;
  padding: 0 0 5px 0;
}

.button-map, .button-timeline {
  margin: 0 20px 0 0;
}

.button-travel {
  padding: 0 0 0 15px;
  margin: 5px 0 0 0;
  display: block;
}

.active-bot {
  border-bottom: 2px solid #FFFFFF;
}

.active-left {
  border-left: 2px solid #FFFFFF;
  padding-left: 13px;
}

#map-container {
  width: 100%; 
  height: 420px; 
  position: relative;
}

.map-description {
  width: 40%; 
  height: 100%; 
  background: #2a333c; 
  opacity: 0.9; 
  position: absolute; 
  right:0;
  display: none;
  padding: 10px 20px 10px 20px;
  overflow-y: scroll;
}

.d-active {
  display: block;
}

@media screen and (max-width: 760px) {
  .map-description {
    position: relative;
    top: 100%;
    width: 100%;
  }

  #map-container {
    margin-bottom: 120%;
  }

  .button-travel {
    display: inline-block;
    padding: 0 15px 5px 15px;
  }

  .active-left {
    border: none;
    padding: 0;
    margin: 0 15px 5px 15px;
    border-bottom: 2px solid #FFFFFF;
  }
}