.navbar.navbar-default.navbar-fixed-top {
	background: transparent;
	border-bottom: none;
	box-shadow: none;
	padding: 2% 1% 0px 0px;
}

.nav.navbar-nav li a {
	color: white;
	font-size: 22px;
	font-weight: bold;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0px;
}

.header {
	font-family: 'Abel', sans-serif;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	color: "black";
}

#top {
	position: absolute;
  top: 100%;
  left: 50%;
  width: 40px;
  margin-top: -113px; /* Half the height */
  margin-left: -20px; /* Half the width */
}

#bot {
	position: absolute;
  top: 0%;
  left: 50%;
  width: 40px;
  margin-top: 0px; /* Half the height */
  margin-left: -20px; /* Half the width */
}

#logo {
	width: 50%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
}

html {
	height: 100%;
	width: 100%;
}

body {
	background-image: url("ewhbackground.jpg");
	background-size: 100% 100%;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
}

p {
	font-family: 'Abel', sans-serif;
	font-size: 17px;
}

#wrapper {
	min-height: 100% !important;
	height: 100%;
	width: 100%;
	position: absolute;
}

#cover {
	min-height: 100% !important;
	height: 100%;
	position: relative;
	background-color: rgba(32,62,76,0.5);
}

/* Button Blue: #2D6594 */
/* #E1E3E3*/

#middle {
	min-height: 60%;
	height: auto;
	width: 100%;
	position: relative;
	background-color: #E1E3E3;
}

#ablock {
	min-height: 60%;
	height: auto;
	width: 100%;
	position: relative;
	background-color: #E1E3E3;
	padding: 5% 5% 0 5%;
}

#intro {
	padding-top: 5%;
}

#footer {
	height:300px;
	background-color: rgba(0, 0, 0, 0.7);
}