.navbar {
	border: none;
}

.navbar.navbar-default {
	background: transparent;
	border-bottom: none;
	box-shadow: none;
	padding: 2% 1% 0px 0px;
}

.nav.navbar-nav li a {
	color: white;
	font-size: 22px;
	font-weight: bold;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0px;
}

.header {
	font-family: 'Abel', sans-serif;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	color: "black";
	font-size:48px;
	margin-bottom: 0px;
}

.subheader {
	font-family: 'Abel', sans-serif;
	text-align: center;
	letter-spacing: 1px;
	color: #4b4949;
	font-size:14px;
	margin-bottom: 10px;
}

.medium {
	font-size: 28px;
}

#top {
	position: absolute;
  top: 100%;
  left: 50%;
  width: 40px;
  margin-top: -113px; /* Half the height */
  margin-left: -20px; /* Half the width */
}

#bot {
	position: absolute;
  top: 0%;
  left: 50%;
  width: 40px;
  margin-top: 0px; /* Half the height */
  margin-left: -20px; /* Half the width */
}

#logo {
	width: 90%;
	top: 35%;
	right: 0;
	left: 0;
	margin: auto;
	transform: translate(0%, -50%);
	position: absolute;
}

html {
	height: 100%;
	width: 100%;
}

body {
	background-image: url("css/ewhbackground.jpg");
	background-size: 100% 100%;
	min-height: 100%;
	min-width: 100%;
	width: 100%;
	position: absolute;
	overflow-x: hidden;
}

p {
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	text-align:justify;
	color:black;
}

#wrapper {
	min-height: 100% !important;
	height: 100%;
	width: 100% !important;
	position: absolute;
}

#cover {
	height: 100%;
	min-height: 100% !important;
	width: 100% !important;
	position: relative;
	background-color: rgba(32,62,76,0.5);
}

#cover-halves-container {
		height: 100%;
		width: 100%;
		position: relative;
}

.cover-half {
	height: 100%;
	position: relative;
}

/* Button Blue: #2D6594 */
#readmore {
	background-color: hsl(207, 53%, 38%);
	display: inline-block;
	cursor: pointer;
	color: hsl(180, 3%, 89%);
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 22px;
	text-transform: uppercase;
	text-align: center;
	padding: 8px 0 8px 0;
	width: 200px;
	border-bottom: 4px solid hsl(207, 53%, 28%);
	position: absolute;
	top: 35%;
	left: 50%;
	margin-top: 80px; /* the logo is 146 px in height */
	margin-left: -100px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	border-radius: 1px;
}

#readmore:hover {
	text-decoration: none;
}
/* #E1E3E3*/

#middle {
	min-height: 60%;
	height: auto;
	width: 100%;
	position: relative;
	background-color: #FFFFFF;
	font-family: 'Abel', sans-serif;
}

.bar {
	left: 0;
	right: 0;
	margin: auto;
	margin-bottom: 15px;
	width: 75px;
	height: 3px;
	background-color: #305969;
}

.white {
	background-color: #FFFFFF;
}

.transparent {
	background-color: transparent;
}

.a-block {
	width: 100%;
	height: auto;
	padding: 5px 15% 5px 15%;
	position: relative;
	background-color: #FFFFFF;
}

#intro {
	padding-top: 5%;
}

#footer {
	min-height:37%;
	width: 100% !important;
	background-color: #2a333c;
}

.foot-role {
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	color: white;
	display: block;
	margin-bottom: 10px;
}

.foot-name {
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	color: #797979;
	display: block;
	margin-bottom: 10px;
}

.foot-email {
	color: #50acce;
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	text-align:justify;
	margin-bottom: 10px;
}

#apply {
	margin: 5% 5%;
	height: 75%;
	font-family: 'Abel', sans-serif;
	background-color: #D3D3D3;
	padding: 20px 40px;
	overflow-y: scroll;
}

input, textarea {
  padding-left: 5px;
  width: 100%;
  border: none;
  border-left: 1px solid #305969;
	background-color: transparent;
}

textarea {
  resize: none;
}

input:focus, textarea:focus {
  outline: none;
  border-left: 2px solid #305969;
}

.radio {
	width: auto;
}

#app_submit {
	width: 100%;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 18px;
  color: #305969;
}

@media screen and (max-width: 991px) {
	span.foot-name {
		display: inline-block;
	}

	span.foot-role {
		display: inline-block;
		margin-left: 8px;
		padding-left: 8px;
		border-left: 1px solid #FFFFFF;
	}

	span.foot-email {
		display: block;
	}

	#logo {
		width: 90%;
	}

	#cover {
		height: 200%;
	}
	.cover-half {
		height: 50%;
	}

	.in-the-way {
		display: none;
	}
}
