.subteam {
  min-height: 60%;
  height: auto;
  width: 100%;
  position: relative;
  background-color: #FFFFFF;
  padding: 110px 15% 110px 15%;
}

#electrical, #supreme, #alumni {
  background-color: rgba(0, 0, 0, 0.7);
}

#elec-wrapper {
  background-image: url("./css/temp.jpg");
  background-size: cover;
}

#cs-wrapper {
  background-image: url("./css/temp1.jpg");
  background-size: cover;
}

#alumni-wrapper {
  background-image: url("./alumni_temp_background.jpeg");
  background-size: cover;
}

.modalBio {
  position: fixed;
  font-family: 'Roboto', sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalBio:target {
  opacity:1;
  pointer-events: auto;
}

.modalBio > div {
  width: 50%;
  min-height: 60%;
  height: 60%;
  overflow: hidden;
  position: relative;
  margin: 10% auto;
  padding: 5px 30px 13px 30px;
  border-radius: 5px;
  background: transparent;
}

.modalBio > div > p {
  color:white;
}

.close {
  margin-top: 15px;
  background: transparent;
  color: rgba(255, 255, 255, 0.6);
  line-height: 25px;
  float: right;
  text-decoration: none;
  text-shadow: none;
  font-size: 30px;
  filter: none;
  opacity: 1;
}

.close:hover {
  color: #FFFFFF;
  filter: none;
  opacity: 1;
}

.headshot {
  width: 40%;
  float: left;
  margin-right: 5%;
}

.slick-slide img {
  padding: 6%;
  width: 100%;
}

.slick-center img {
  padding: 0;
  width: 100%;
}

a:focus {
  outline: none;
}

#bio .slick-prev::before, #bio .slick-next::before,
#leads .slick-prev::before, #leads .slick-next::before {
  color: black;
}

.name {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.year {
  margin: 0;
  text-align: center;
  color: #959595;
}

.role {
  margin: 0;
  text-align: center;
  color: #D4AF37;
  text-transform: uppercase;
}

@media screen and (max-width: 991px) {
  .modalBio > div {
    width: 80%;
    min-height: 80%;
    height: 80%;
  }
}

@media screen and (max-width: 991px) {
  .modalBio > div {
    width: 80%;
    min-height: 80%;
    height: 80%;
  }
}
